.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__yXi3P {
  display: grid;
  position: relative;
  width: 100%;
  height: 900px;
  grid-row-gap: 16px;
  align-content: space-between;
  justify-items: center;
  background: #00112c;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 32px 0px 0px;
}
.section__yXi3P > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__yXi3P > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.img__vWo73 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 120px;
}
.img__vWo73 > picture > img {
  object-fit: cover;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  color: #ffffff;
  text-align: center;
  font-size: 72px;
  min-width: 0;
}
.freeBox__qPwIh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qPwIh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__qPwIh > :global(.__wab_flex-container) > *,
.freeBox__qPwIh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qPwIh > :global(.__wab_flex-container) > picture > img,
.freeBox__qPwIh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.link___48Voe {
  position: relative;
  display: flex;
}
.svg__rrAby {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
.link__p0JcV {
  position: relative;
  display: flex;
}
.svg__b5Rbo {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.freeBox__rxXm3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.img__lHru0 {
  object-fit: contain;
  max-width: 100%;
  width: 500px;
  margin-bottom: -200px;
  flex-shrink: 0;
}
.img__lHru0 > picture > img {
  object-fit: contain;
}
.section__cAcr {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: space-between;
  justify-items: center;
  background: #000000;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__cAcr > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__cAcr > * {
    grid-column: 4;
  }
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wVpc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ieCz2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__ieCz2 > picture > img {
  object-fit: cover;
}
.column___9Ghyy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___9Ghyy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___9Ghyy > :global(.__wab_flex-container) > *,
.column___9Ghyy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___9Ghyy > :global(.__wab_flex-container) > picture > img,
.column___9Ghyy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jzYli {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text {
  font-size: 42px;
}
.svg__diiXf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.section__axW2D {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: space-between;
  justify-items: center;
  background: #003e70;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__axW2D > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__axW2D > * {
    grid-column: 4;
  }
}
.link__b5Syp {
  position: relative;
  display: flex;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.img__n3Slz {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 24px;
}
.img__n3Slz > picture > img {
  object-fit: cover;
}
.freeBox__kzpv1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 8px 8px;
}
.freeBox__kzpv1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__kzpv1 > :global(.__wab_flex-container) > *,
.freeBox__kzpv1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kzpv1 > :global(.__wab_flex-container) > picture > img,
.freeBox__kzpv1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.link__vIa6Z {
  position: relative;
  display: flex;
}
.svg__bPBi7 {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
.link__kw5U {
  position: relative;
  display: flex;
}
.svg__jOtKa {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
